html, body, div, header, footer, section, article {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

html, body {
  font: #{$font-size--base} / #{$line-height--base} $font--base;
  color: $color--base;
  background: $body-bg;
  min-width: 20rem;
}

body {
  @media #{$media-lg} {
    overflow-x: hidden;
  }
}

.layout {
  //width: 100vw;
  //min-width: 30rem;
  //.no-touch & {
  //  padding-right: $scroll-width;
  //}
}

.page {
  overflow: hidden;
  //min-width: 30rem;
  padding-top: $header-height;
}

.container,
.container--wide {
  @include center-block;
  width: 100%;
  max-width: 80rem;
  padding: 0 1.5rem;
}
.container--wide {
  max-width: 77rem;
  padding: 0 0 0 2rem;
}

.section {
  &__img-wrapper {
    @include absolute(top 0 left 0);
    @include size(100%);
  }
  
  &__img img {
    display: block;
  }
}

.video {
  display: block;
  @include absolute(top 0 left 0);
  @include size(100%);
  
  video {
    width: 100%;
  }
  
  &__wrapper {
    @include size(100%, 0);
    padding-bottom: 1080 / 1920 * 100%;
  }
}

.hidden {
  display: none!important;
}
.invisible {
  visibility: hidden;
}