@font-face {
	font-family: 'Neo Sans';
	//src: url('../assets/fonts/NeoSansWeleda-Rg.eot');
	//src: local('☺'), url('../assets/fonts/NeoSansWeleda-Rg.woff') format('woff'), url('../assets/fonts/NeoSansWeleda-Rg.ttf') format('truetype'), url('../assets/fonts/NeoSansWeleda-Rg.svg') format('svg');
	src: local('☺'), url('../assets/fonts/NeoSansWeleda-Rg.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Neo Sans';
	//src: local('☺'), url('../assets/fonts/NeoSansWeleda-B.woff') format('woff'), url('../assets/fonts/NeoSansWeleda-B.ttf') format('truetype'), url('../assets/fonts/NeoSansWeleda-B.svg') format('svg');
	src: local('☺'), url('../assets/fonts/NeoSansWeleda-B.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Neo Sans';
	//src: local('☺'), url('../assets/fonts/NeoSansWeleda-Md.woff') format('woff'), url('../assets/fonts/NeoSansWeleda-Md.ttf') format('truetype'), url('../assets/fonts/NeoSansWeleda-Md.svg') format('svg');
	src: local('☺'), url('../assets/fonts/NeoSansWeleda-Md.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}