&__logo {
  .logo {
    display: block;
    height: auto;
    max-height: 3.75rem;
    
    &--elle {
      max-height: 45px;
    }
    
    @media #{$portrait} {
      max-height: 8vw;
    }
  }
  
  
}