.section {

  &--blogers::before {
    content: '';
    display: block;
    @include absolute(top -2.5rem left 0 right 0);
    @include size(100%, 290px);
    background: url('../img/pink-shtrih-4.png') top center no-repeat;
    z-index: 0;
    
    @media #{$gl-xs} {
      height: 68.75vw;
    }
  }

  &--blogers &__content {
    margin-top: -12rem;
    
    @media #{$gl-xs} {
      margin-top: -30vw;
    }
  }
  
  &--blogers &__heading {
    z-index: 2;
    max-width: 28rem;
    margin-left: 8rem;
    
    @media #{$gl-xs} {
      text-align: left;
      max-width: 70vw;
      margin-left: 20vw;
    }
  }
}