.section {
  &--pad {
    background: $pink--lighter;
    padding: 7.5rem 0;
  }
  
  &--pad &__heading {
    margin-bottom: 19rem;
  }
  
  &--pad &__text {
    max-width: 30em;
    
    @media #{$gl-xs} {
      margin-left: 14%;
    }
  }
  
  &--pad &__img {
    @include absolute(bottom -5.25rem left 50%);
    margin-left: 1.5rem;
    @include size(504px, 435px);
    background: url('../img/flower-4.png') center no-repeat;
    z-index: 1;
    
    @media #{$gl-xs} {
      top: 4.5rem;
      left: auto;
      right: 24%;
      margin-left: 0;
      z-index: 0;
    }
  }
}