// Обнулить отступы у потомков: верхний у первого, нижний у последнего.
// @group utilities
// 
// @example scss - Использование
// .element {
// 		@include null-childs-margin;
// }
// 
// @example css - Вывод CSS
// .element *:first-child {
// 		margin-top: 0;
// }
// .element *:last-child {
// 		margin-bottom: 0;
// }
@mixin null-childs-margin {
	*:first-child {
		margin-top: 0;
	}
	*:last-child {
		margin-bottom: 0;
	}
}

@mixin null-first-last-margin {
	&:first-child {
    margin-top: 0;
		margin-left: 0;
	}
	&:last-child {
    margin-bottom: 0;
		margin-right: 0;
	}
}